{% extends 'base2.html' %}
{% block body_block %}
    <section id="about" class="about" style="margin-top: -5%;">
    <div class="container1" data-aos="fade-up">
        <div class="section-title" style="margin-top: 10%; margin-left: -15%;">
            <h2>SIGN IN <span class="bi bi-unlock-fill"></span></h2>
        </div>
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-25">
                    <label for="email">Username:</label>
                </div>
                <div class="col-75">
                    <div id="email">{{ form.username }}</div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-25">
                    <label for="p1">Password:</label>
                </div>
                <div class="col-75">
                    <div id="p1">{{ form.password }}</div>
                    <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
                </div>

            </div>

            <br>
            <div class="row">
                <div class="signup">
                    <input type="submit" class="btn btn-lg btn-success" value="Sign In"><br><br><br>
                    <p>If You Don't have an account<a href="/signup">SignUp</a></p>

                </div>
            </div>
        </form>
    </div>
    </section><!-- End Services Section -->

{% endblock %}