{% extends 'base.html' %}
{% block body_block %}

    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex justify-cntent-center align-items-center">
        <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

            <!-- Slide 1 -->
            <div class="carousel-item active">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Welcome to
                        <span>Centralized repository System</span></h2>
                    <p class="animate__animated animate__fadeInUp">The Centralized Repository System is to develop a
                        system which provides the details of government schemes and government jobs. The purpose is to
                        design a system which automates the processes involved and allows users to perform various
                        operations. </p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 2 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Government Schems</h2>
                    <p class="animate__animated animate__fadeInUp">In Government Schems user can see all the schems
                        like:Education,Health & wellness, Electricity,Agriculture and ruler,Bussiness and also can
                        apply.</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>

            <!-- Slide 3 -->
            <div class="carousel-item">
                <div class="carousel-container">
                    <h2 class="animate__animated animate__fadeInDown">Government Jobs</h2>
                    <p class="animate__animated animate__fadeInUp">In Government Jobs user can see all the government
                        jobs related information and easily apply .</p>
                    <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Icon Boxes Section ======= -->

        <!-- End Icon Boxes Section -->

        <!-- ======= About Us Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>About Us</h2>
                    <p>The Centralized Repository System is to develop a system which provides the details of government
                        schemes and government jobs. The purpose is to design a system which automates the processes
                        involved and allows users to perform various operations. </p>
                </div>

                <div class="row content">
                    <div class="col-lg-6">
                        <p>
                            In the present scenario, various government schemes are published in print media and
                            advertised by the respective departments. It is often difficult for people to get the
                            relevant information and approach the officials for availing the services. Due to lack of
                            proper communication among various departments and officials, often the purpose of the
                            schemes is not achieved. People do not get to know about the schemes and do not benefit from
                            them.
                        </p>
                        <ul>
                            <li><i class="ri-check-double-line"></i>Everyone should know about the government schemes
                                and jobs.
                            </li>
                            <li><i class="ri-check-double-line"></i>Provides details about the government relevant
                                information to user
                            </li>
                            <li><i class="ri-check-double-line"></i>Direct interaction with government schemes and
                                government jobs.
                        </ul>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0">
                        <p>
                            The proposed system is a web based application, which maintains a centralized repository of
                            all scheme related information. This makes it easy to search for the desired information.
                            Users and public can access the system to get the information and also apply online for the
                            proposed schemes. The system allows coordination among all concerned departments and
                            officials. The system also allows the regular monitoring and modification of information.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Us Section -->


        <!-- ======= Services Section ======= -->
        <section id="services" class="services">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Services</h2>
                    <p>Centralized Repository System Contain two servies which is Government Schemes and Government
                        Jobs</p>
                </div>

                <div class="row">
                    <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon-box">
                            <i class="bi bi-card-checklist"></i>
                            <h4><a href="/gov_schemes">Government Schemes</a></h4>
                            <p>In Government Schemes user can see all the schems like:Education,Health & wellness,
                                Electricity,Agriculture and ruler,Bussiness and also can apply.</p>
                        </div>
                    </div>
                    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up"
                         data-aos-delay="600">
                        <div class="icon-box">
                            <i class="bi bi-briefcase"></i>
                            <h4><a href="/gov_jobs">Government Jobs</a></h4>
                            <p>In Government Jobs user can see all the government jobs related information and easily
                                apply </p>
                        </div>
                    </div>
                </div>

            </div>
        </section><!-- End Services Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact Us</h2>
                </div>

                <div class="row mt-1 d-flex justify-content-end" data-aos="fade-right" data-aos-delay="100">

                    <div class="col-lg-5">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>AS IT Solution,Nehru Stadium
                                Burhanpur,(M.P.)450331,
                                    India</p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>crsinfo175@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>Abhirva: +91 9131994504<br>Sourabh: +91 8770341439</p>
                            </div>

                        </div>

                    </div>

                    <div class="col-lg-6 mt-5 mt-lg-0" data-aos="fade-left" data-aos-delay="100">

                        <form method="post" action="{% url 'contact_us' %}" role="form">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <input type="text" name="name" class="form-control" id="name"
                                           placeholder="Your Name" required>
                                </div>
                                <div class="col-md-6 form-group mt-3 mt-md-0">
                                    <input type="email" class="form-control" name="email" id="email"
                                           placeholder="Your Email" required>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <input type="text" class="form-control" name="subject" id="subject"
                                       placeholder="Subject" required>
                            </div>
                            <div class="form-group mt-3">
                                <textarea class="form-control" name="message" rows="5" placeholder="Message"
                                          required></textarea>
                            </div>
                            <div class="my-3">
                                <!--div class="loading">Loading</div-->
                                <!--div class="error-message"></div-->
                                {% if messages %}
                                    {% for message in messages %}
                                     <div>{{ message }}</div>
                                    {% endfor %}

                                {% endif %}

                            </div>
                            <div class="text-center">
                                <input type="submit" value="Submit"></input>
                            </div>
                        </form>

                    </div>

                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->

    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact Us</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-links">
                        <h4>Our Services</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#services">Government Schems</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#services">Government Jobs</a></li>

                        </ul>
                    </div>

                    <div class="col-lg-3 col-md-6 footer-contact">
                        <h4>Contact Us</h4>
                        <p>
                            <strong>Address:</strong><br>
                            AS IT Solution,Nehru Stadium<br>
                            Burhanpur,(M.P.)450331,<br>
                            India<br>
                             <strong>Email:</strong><br>crsinfo175@gmail.com<br>
                            <strong>Phone:<br></strong>Abhirva: +91 9131994504<br>Sourabh: +91 8770341439<br>


                        </p>

                    </div>

                    <div class="col-lg-3 col-md-6 footer-info">
                        <h3>About CRS</h3>
                        <p>The Centralized Repository System is to develop a system which provides the details of
                            government schemes and government jobs.</p>
                        <div class="social-links mt-3">
                            <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                            <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                            <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="credits">
                Developed by <a href="#">Abhirva & Sourabh</a>
            </div>
        </div>

    </footer><!-- End Footer -->
    <div id="preloader"></div>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

{% endblock %}
