<!DOCTYPE html>
{% extends 'base2.html' %}
{% block body_block %}
    <div class="container1" style="margin-top: 15%; margin-left: 10%;">
    <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="500">
        <div class="icon-box">
            <h1 class="display-3" style="margin-left: 10%; color: red;">Thank You!</h1>
            <p class="lead"><strong>Please check your email</strong> for further instructions on how to complete your
                account setup.</p>
            <hr>
            <p>
                Having trouble? <a href="">Contact us</a>
            </p>
            <p class="lead">
                <a class="btn btn-primary btn-sm" href="https://bootstrapcreative.com/" role="button">Continue to
                    homepage</a>
            </p>
        </div>
    </div>
    </div>
{% endblock %}